# Core dependencies
Django==2.0.4
celery==4.1.0
django-redis==4.9.0

# Configuration
gunicorn==19.7.1
setproctitle==1.1.10  # To show the name of the gunicorn process when: top, ps,...
django-cors-headers==2.2.0

# Google Cloud Storage
django-storages==1.6.6
apache-libcloud==2.3.0
pycrypto==2.6.1

# Dev
django-debug-toolbar==1.9.1
line-profiler==2.0

# My repos
git+https://github.com/salvacarrion/raefinder.git#egg=raefinder
git+https://github.com/salvacarrion/dolly.git#egg=dolly