{% load static %}

{% for c in top_candidates %}
    <a class="" href="{% get_media_prefix %}original/{{ c.original }}" data-toggle="lightbox">
        {% if c.dist <= 0.5 %}
            <img src="{% get_media_prefix %}original/{{ c.original }}" class="rounded img-sim-faces border border-success" title="Distance: {{ c.dist }} | id: {{ c.id }}">
        {% elif c.dist > 0.5 and c.dist <= 0.6 %}
            <img src="{% get_media_prefix %}original/{{ c.original }}" class="rounded img-sim-faces border border-warning conf c-2" title="Distance: {{ c.dist }} | id: {{ c.id }}">
        {% else %}
            <img src="{% get_media_prefix %}original/{{ c.original }}" class="rounded img-sim-faces border border-danger conf c-3" title="Distance: {{ c.dist }} | id: {{ c.id }}">
        {% endif %}
    </a>
{% endfor %}