{% load static %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ gkg_info.name }}</h5>
        <small>{{ gkg_info.description }}</small>
        <p class="card-text">{{ gkg_info.articleBody }} <small><a href="{{ gkg_info.description_url }}" target="_blank">Wikipedia</a></small></p>
        <p class="card-text"><small class="text-muted">More: <a href="{{ gkg_info.url }}" target="_blank">{{ gkg_info.url }}</a></small></p>
    </div>
    <hr class="mb-0">
    <div class="text-center">
        <img class="card-img-bottom" src="{% get_media_prefix %}{{ matched.image_url }}" style="width: 50%">
    </div>
</div>