{% load static %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ gkg_entity.name|default:'?' }}</h5>

        {% if gkg_entity.description %}
            <small>{{ gkg_entity.description|default:'?' }}</small>
        {% endif %}

        {% if gkg_entity.detailedDescription.articleBody %}
            <p class="card-text">{{ gkg_entity.detailedDescription.articleBody|default:'?' }} <small><a href="{{ gkg_entity.detailedDescription.url }}" target="_blank">Wikipedia</a></small></p>
        {% endif %}

        {% if gkg_entity.url %}
            <p class="card-text"><small class="text-muted">More: <a href="{{ gkg_entity.url }}" target="_blank">{{ gkg_entity.url }}</a></small></p>
        {% endif %}
    </div>
    <hr class="mb-0">
    <div class="text-center">
        <img class="card-img-bottom" src="{% get_media_prefix %}{{ matched.image_url }}" style="width: 50%">
    </div>
</div>